[Unit]
Description=Weather app that displays current forcast

[Service]
Type=simple
ExecStart=/home/vagrant/shared/week10/wttr
WorkingDirectory=/home/vagrant/shared/week10
Restart=on.failure

[Install]
WantedBy=multi-user.target
