[Unit]
Description=Weather app that displays current and next two days forecast

[Service]
Type=simple
ExecStart=/home/vagrant/shared/week11/wttr
WorkingDirectory=/home/vagrant/shared/week11
Restart=on.failure

[Install]
WantedBy=multi-user.target
